@model NguyenVanDai.SachOnline.Models.DONDATHANG

@{
    ViewBag.Title = "Details donhang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 style="text-align:center">CHI TIẾT ĐƠN HÀNG</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Mã đơn hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>

        <dt>
            Mã khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

        <dt>
            Ngày đặt:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            Ngày giao:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            Đã thanh toán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaThanhToan)
        </dd>

        <dt>
            Tình trạng đơn hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangGiaoHang)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDonHang })
    <br />
    <div style="text-align:center;">
        @Html.ActionLink("VỀ TRANG QUẢN LÝ", "Index")
    </div>
</p>
